# NB: don't set `language: haskell` here

sudo: false

matrix:
  include:
  - env: GHCVER=7.8.4 STACK_YAML=stack.yaml
    addons:
      apt:
        sources:
        - hvr-ghc
        packages:
        - ghc-7.8.4
  - env: GHCVER=7.10.2 STACK_YAML=stack-7.10.yaml
    addons:
      apt:
        sources:
        - hvr-ghc
        packages:
        - ghc-7.10.2

before_install:
  # ghc
  - export PATH=/opt/ghc/$GHCVER/bin:$PATH
  # stack
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://github.com/commercialhaskell/stack/releases/download/v0.1.3.1/stack-0.1.3.1-x86_64-linux.gz | gunzip > ~/.local/bin/stack
  - chmod a+x ~/.local/bin/stack
  # versions
  - stack +RTS -N1 -RTS --version
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"

install:
  - stack +RTS -N1 -RTS --no-terminal --skip-ghc-check setup
  - stack +RTS -N1 -RTS --no-terminal --skip-ghc-check test --only-snapshot

script:
  - stack +RTS -N2 -RTS --no-terminal --skip-ghc-check test

cache:
  directories:
  - $HOME/.stack
